.notification{
    background-color: #e0e0e0;
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}
.notification:hover {
    background: #c0c0c0;
}
.notification .badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 2px 7px;
    border-radius: 50%;
    color: #000;
    background-color: #fb3a3a;
}