.btn button{
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ed393b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btn button:hover {background-color: #be3638}

.btn button:active {
  background-color: #be3638;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}